
.er-icon-primary-key:before { content: '\e800'; } /* '' */
.er-icon-entity:before { content: '\e80a'; } /* '' */
.er-icon-relationship:before { content: '\e80b'; } /* '' */
.er-icon-attribute:before { content: '\e80c'; } /* '' */
